body {
    background-color: #000000;
    color: #ffffff;
}

header {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
    border-color: #333;
    border-style: solid;
    border-width: 1px;
}

aside {
    background-color: #1a1a1a;
    padding: 20px;
    width: 150px;
    height: 100vh;
    float: left;
    border-color: #333;
    border-style: solid;
    border-width: 1px;
}

main {
    flex: 1;
    margin-left: 5px;
    padding: 15px;
}

aside ul {
    border-color: #333;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 10px #000;
    list-style-type: none;
    padding: 0;
}

aside a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 12px;
    transition:all 0.3s;    
}

.search-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: 0.2s;
}

.search-submit:hover {
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.05);
}

.search-engine {
    width: 80%;
    max-width: 700px;
    margin: 20px auto;
    display: flex;
    gap: 10px;
}

aside a:hover {
    background-color: #333;
}
    
aside a.active {
    background-color: #333;
}

.content {
    display: flex;
}

#home {
    background-color: #111111;
    min-height: 400px;
    padding: 40px;
    border-radius: 15px;
}

#home h1 {
    font-size: 36px;
    font-style: italic;
    margin: 5px;
    text-align: center;
}

.current-active-track {
    display: flex;
    align-items: center;
    gap: 30px;

    background-color: #222222;
    padding: 25px;
    border-radius: 15px;

    max-width: 900px;
    margin: 30px auto;
}

.current-active-track-cover {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 12px;
    overflow: hidden;
}

.current-active-track-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;
}

.current-active-track-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.current-active-track-info h2{
    font-size: 32px;
    margin: 0;  
}

.current-active-track-info p{
    font-size: 20;
    color: #666666;
    margin: 0;
}

.current-active-track-info span{
    font-size: 14;
    color: #777;
}

.recent {
    background-color: #111111;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}

.recent-tracks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.recent h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.track-card {
    width: auto;
    margin: 0;
    padding: 15px;
    background-color: #222222;
    border-radius: 12px;
    transition: 0.2s;
}

.track-card:hover {
    background-color: #333333;
    transform: translateY(-5px);
}

.track-cover {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    margin-bottom: 10px;
}

.track-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}   

.track-info {
    margin-top: 20px;
}

.track-info h3 {
    font-size: 18px;
    margin: 5px 0;
}

.track-info p {
    font-size: 14px;
    color: #aaa;
    margin: 0;
}


.playlists-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.playlist-card {
    background-color: #222222;
    padding: 15px;
    border-radius: 12px;
    transition: 0.2s;
}

.playlist-card:hover {
    background-color: #333333;
    transform: translateY(-5px);
}

.playlist-cover {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    overflow: hidden;
}

.playlist-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.playlist-info h3 {
    font-size: 18px;
    margin: 12px 0 5px;
}

.playlist-info p {
    font-size: 14px;
    color: #aaa;
    margin: 0;
}

.artist-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.artist-card {
    background-color: #222222;
    padding: 15px;
    border-radius: 12px;
    transition: 0.2s;
}

.artist-card:hover {
    background-color: #333333;
    transform: translateY(-5px);
}

.artist-cover {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    overflow: hidden;
}

.artist-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.artist-info h3 {
    font-size: 18px;
    margin: 12px 0 5px;
}

.artist-info p {
    font-size: 14px;
    color: #aaa;
    margin: 0;
}

main > section {
    display: none;
}

main > #home {
    display: block;
}


.my-music-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.my-music-card {
    background-color: #222222;
    padding: 15px;
    border-radius: 12px;
    transition: 0.2s;
}

.my-music-card:hover {
    background-color: #333333;
    transform: translateY(-5px);
}

.my-music-cover {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    overflow: hidden;
}   

.my-music-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.my-music-info h3 {
    font-size: 18px;
    margin: 12px 0 5px;
}

.my-music-info p {
    font-size: 14px;
    color: #aaa;
    margin: 0;
}